.header-container .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #33333341;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  height: 80px;
  box-sizing: border-box;
  z-index: 100;
}

.header-container .logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  margin-left: 15px;
}

.page-content .image-container {
  margin-top: -50px !important; /* 최우선 적용 */
  transition: margin 0.3s ease-in-out;
}

body.page-content {
  padding-top: 40px !important; /* 헤더 높이만큼 확보 */
}


nav {
  display: flex;
  gap: 30px; /* 메뉴 간격 */
}


nav a {
  font-size: 20px;
  font-weight: bold;
  color: white;               /* 기본 하얀색 */
  text-decoration: none;      /* 밑줄 제거 */
  transition: color 0.3s ease-in-out; /* 부드러운 전환 */
}


nav a:hover {
  color: #15ff00ee; 
}
