#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;  
  padding: -5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #0f814daa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-content {
  padding-top: 20px; /* 모든 페이지에서 위 여백 추가 */
  min-height: calc(100vh - 100px); /* 푸터 제외 화면 최소높이 확보 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 중앙 대신 위쪽으로 정렬 */
}
