.profile-card {
    background-color: rgba(20, 20, 20, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00FFFF;
    text-align: center;
    
    width: 420px;
    max-width: 90%; /* 화면이 작을 때 줄어들도록 설정 */
    min-height: 60vh; /* 최소 높이 지정 */
    max-height: 75vh; /* 화면 기준 최대 높이 설정 */
    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-y: auto; /* 내부 내용이 넘칠 경우만 스크롤 */
    box-sizing: border-box;
}


.genre-container {
    display: flex;
    flex-direction: column;  /* 세로 정렬 */
    align-items: center;  /* 태그를 가운데 정렬 */
    gap: 10px;  /* 태그 간 간격 */
    margin-top: 5px; 
}

.genre-tag {
    display: block; 
    background-color: #00e0ff; 
    color: rgb(0, 0, 0);
    text-shadow: rgb(0, 0, 0);
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #00FFFF;
    box-shadow: 0px 0px 10px #00e0ff; 
    transition: all 0.3s ease-in-out;
    width: 120px; 
    text-align: center; 
}


.genre-tag:hover {
    background-color: #00ff87; 

    transform: scale(1.05);
}


.profile-text {
    color: #f2f8f8; 
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;  
    text-align: center; 
    text-shadow: none
}

.profile-card::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}

.profile-card::-webkit-scrollbar-thumb {
    background-color: #09f; /* 스크롤바 색상 */
}

.profile-card::-webkit-scrollbar-track {
    background-color: #222; /* 스크롤 트랙 색상 */
}